<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="topology" value="network_topology.xml"/>
    <add key="ASN1LRM" value="ASN1LRM.xml"/>
    <add key="BSN2LRM" value="BSN2LRM.xml"/>
    <add key="BSN2SN5LRM" value="BSN2SN5LRM.xml"/>
    <add key="ASN1SN4LRM" value="ASN1SN4LRM.xml"/>
    <add key="ASN1SN17LRM" value="ASN1SN17LRM.xml"/>
    <add key="ASN1RC" value="ASN1RC.xml"/>
    <add key="BSN2RC" value="BSN2RC.xml"/>
    <add key="BSN2SN5RC" value="BSN2SN5RC.xml"/>
    <add key="ASN1SN4RC" value="ASN1SN4RC.xml"/>
    <add key="ASN1SN17RC" value="ASN1SN17RC.xml"/>
    <add key="host" value="127.0.0.1"/>
  </appSettings>
</configuration>